{{#if breadcrumb}}
<ul class="breadcrumb">
  <a href="/">{{> common/icon v="solid" id="home" }}</a>
  {{#each breadcrumb.parts}}
  {{#if link}}
    {{> common/icon class="text-gray-500" v="solid" id="chevron-right" }}
    <a href="{{link}}">
      {{#if icon}}
        {{> common/icon v="outline" id=icon }}
      {{/if}}
      {{text}}
    </a>
  {{else}}
    {{> common/icon class="text-gray-500" v="solid" id="chevron-right" }}
    {{#if icon}}
      {{> common/icon v="outline" id=icon }}
    {{/if}}
    {{text}}
  {{/if}}
  {{/each}}
</ul>
{{/if}}