{{#if breadcrumb}}
<ul class="breadcrumb">
  <a href="/">{{> common/icon v="solid" id="home" }}</a>
  {{#each breadcrumb.parts}}
  {{#if link}}
    {{> common/icon class="mt-1 text-gray-500" v="solid" id="chevron-right" }}
    <a href="{{link}}">{{text}}</a>
  {{else}}
    {{> common/icon class="mt-1 text-gray-500" v="solid" id="chevron-right" }}
    {{text}}
  {{/if}}
  {{/each}}
</ul>
{{/if}}