<nav class="flex flex-row">
  <h1 class="p-1">Beacon explorer</h1>
  <ol class="flex flex-row">
    <li><a href="/epochs.html">Epochs</a></li>
    <li><a href="/blocks.html">Blocks</a></li>
  </ol>
</nav>
