<nav class="container mx-auto flex flex-row">
  <h1>Beacon explorer</h1>
  <ol class="flex flex-row">
    <li class="p-1"><a href="/epochs">Epochs</a></li>
    <li class="p-1"><a href="/blocks">Blocks</a></li>
  </ol>
</nav>
