<nav class="container mx-auto flex flex-row text-lg">
  <h1 class="text-xl py-2"><a href="/">Beacon explorer</a></h1>
  <ol class="flex flex-row flex-grow justify-end">
    <li class="p-2"><a href="/epochs">Epochs</a></li>
    <li class="p-2"><a href="/blocks">Blocks</a></li>
    <li class="p-2"><a href="/validators">Validators</a></li>
  </ol>
</nav>