<div class="flex justify-end space-x-2 p-2">
  <button id="first-page" disabled="disabled">{{> common/icon v="outline" id="chevron-double-left" }}</button>
  <button id="previous-page" disabled="disabled">{{> common/icon v="outline" id="chevron-left" }}</button>
  <input id="current-page" class="w-20 p-1 border border-blue-300 rounded" value="1" />
  <span id="page-count" data-page-count="{{count}}" class="py-1">of {{count}}</span>
  <button id="next-page">{{> common/icon v="outline" id="chevron-right" }}</button>
  <button id="last-page">{{> common/icon v="outline" id="chevron-double-right" }}</button>
</div>