<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
  {{> common/header }}
  <section class="container mx-auto">
    <div class="tabular-data">
      <p>Showing epochs</p>
      <div id="epochs-list" data-page-count="{{pages_count}}"></div>
    </div>
  </section>
  <script src="/js/main.js" type="module"></script>
  <script src="/js/epochs.js" type="module"></script>
</body>

</html>