@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("outline/icons.css");
@import url("solid/icons.css");

@layer base {
  h1,
  h2 {
    @apply py-1;
  }

  a {
    @apply text-blue-600;
  }

  header {
    @apply p-1 bg-blue-900 text-blue-50;

    a {
      @apply text-blue-50;

      .icon {
        @apply align-middle;
      }
    }
  }

  .breadcrumb {
    @apply py-2 text-lg;

    .icon {
      @apply align-middle;
    }
  }

  buttn {
    @apply text-blue-600 p-1 border border-blue-300 rounded;

    &:hover {
      @apply text-white bg-blue-600 border-blue-600;
    }

    &:disabled {
      @apply text-gray-400 border-gray-300 cursor-not-allowed;
    }

    &:disabled:hover {
      @apply bg-transparent;
    }
  }

  dl {
    @apply flex flex-wrap;

    dt {
      @apply flex-none w-1/4;
    }

    dd {
      @apply flex-none w-3/4;
    }
  }
}

@layer components {
  div.tabular-data {
    @apply border border-gray-200 rounded shadow;

    p {
      @apply p-1;
    }

    dl {
      dt,
      dd {
        @apply p-2;
      }

      dt:not(:first-of-type),
      dd:not(:first-of-type) {
        @apply border-t;
      }
    }

    table {
      @apply w-full;

      th {
        @apply text-xs text-left text-gray-600 uppercase bg-gray-100;
      }

      td {
        @apply text-gray-800 p-1.5 border-t rounded border-gray-200;
      }
    }

    .gridjs-th {
      .gridjs-th-content {
        @apply inline-block px-1.5 py-2;
      }

      .gridjs-sort {
        @apply w-4 h-4 px-2 py-3;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: contain;
      }

      .gridjs-sort-neutral {
        opacity: 0.4;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M5 12a1 1 0 102 0V6.414l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L5 6.414V12zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z' /%3E%3C/svg%3E");
      }

      .gridjs-sort-asc {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z' clip-rule='evenodd' /%3E%3C/svg%3E");
      }

      .gridjs-sort-desc {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z' clip-rule='evenodd' /%3E%3C/svg%3E");
      }
    }

    .gridjs-pagination {
      .gridjs-pages {
        @apply flex justify-end px-4 py-2;

        button {
          @apply text-blue-600 border-t border-b border-r border-gray-300 px-2 py-1;

          &:disabled {
            @apply text-gray-400 border-gray-300 cursor-not-allowed;
          }

          &:first-child {
            @apply rounded-l border-l;
          }

          &:last-child {
            @apply rounded-r;
          }
        }

        .gridjs-currentPage {
          @apply text-black cursor-auto;

          &:hover {
            @apply bg-transparent;
          }
        }

        .gridjs-spread {
          @apply text-gray-400 cursor-auto;

          &:hover {
            @apply bg-transparent;
          }
        }
      }
    }
  }

  .icon {
    @apply align-text-bottom;
  }
}
