@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1, h2 {
    @apply py-1;
  }

  a {
    @apply text-blue-600;
  }

  header {
    @apply p-1 bg-blue-900 text-blue-50;
    
    a {
      @apply text-blue-50;
    }
  }

  ul.breadcrumb {
    @apply flex py-2;

    li:not(:first-child)::before {
      content: '';
      mask-image: url('/static/svg/solid/chevron-right.svg');
      background-size: contain;
      background-repeat: no-repeat;
      @apply inline-block w-6 h-6 relative top-1.5 bg-gray-400;
    }

    li {
      @apply text-lg;
    }

    img.icon {
      @apply w-5 h-5;
    }
  }

  dl {
    @apply flex flex-wrap;

    dt {
      @apply flex-none w-1/4;
    }

    dd {
      @apply flex-none w-3/4;
    }
  }
}

@layer components {
  div.tabular-data {
    @apply border border-gray-200 rounded shadow;

    p {
      @apply p-1;
    }

    dl {
      dt, dd {
        @apply p-2;
      }

      dt:not(:first-of-type), dd:not(:first-of-type) {
        @apply border-t;
      }
    }

    table {
      @apply w-full;
  
      th {
        @apply text-xs text-left text-gray-600 uppercase px-1.5 py-2 bg-gray-100;
      }
  
      td {
        @apply text-gray-800 p-1.5 border-t rounded border-gray-200;
      }
    }
  }

  img.icon {
    @apply inline w-4 h-4;
  }
}
