@font-face {
    font-family: "icons";
    src: url("./icons.eot?ab5deae583568f32b4235773ec6e0aa7#iefix") format("embedded-opentype"),
url("./icons.woff2?ab5deae583568f32b4235773ec6e0aa7") format("woff2"),
url("./icons.woff?ab5deae583568f32b4235773ec6e0aa7") format("woff");
}

i[class^="solid-"]:before, i[class*=" solid-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.solid-academic-cap:before {
    content: "\f101";
}
.solid-adjustments:before {
    content: "\f102";
}
.solid-annotation:before {
    content: "\f103";
}
.solid-archive:before {
    content: "\f104";
}
.solid-arrow-circle-down:before {
    content: "\f105";
}
.solid-arrow-circle-left:before {
    content: "\f106";
}
.solid-arrow-circle-right:before {
    content: "\f107";
}
.solid-arrow-circle-up:before {
    content: "\f108";
}
.solid-arrow-down:before {
    content: "\f109";
}
.solid-arrow-left:before {
    content: "\f10a";
}
.solid-arrow-narrow-down:before {
    content: "\f10b";
}
.solid-arrow-narrow-left:before {
    content: "\f10c";
}
.solid-arrow-narrow-right:before {
    content: "\f10d";
}
.solid-arrow-narrow-up:before {
    content: "\f10e";
}
.solid-arrow-right:before {
    content: "\f10f";
}
.solid-arrow-sm-down:before {
    content: "\f110";
}
.solid-arrow-sm-left:before {
    content: "\f111";
}
.solid-arrow-sm-right:before {
    content: "\f112";
}
.solid-arrow-sm-up:before {
    content: "\f113";
}
.solid-arrow-up:before {
    content: "\f114";
}
.solid-arrows-expand:before {
    content: "\f115";
}
.solid-at-symbol:before {
    content: "\f116";
}
.solid-backspace:before {
    content: "\f117";
}
.solid-badge-check:before {
    content: "\f118";
}
.solid-ban:before {
    content: "\f119";
}
.solid-beaker:before {
    content: "\f11a";
}
.solid-bell:before {
    content: "\f11b";
}
.solid-book-open:before {
    content: "\f11c";
}
.solid-bookmark-alt:before {
    content: "\f11d";
}
.solid-bookmark:before {
    content: "\f11e";
}
.solid-briefcase:before {
    content: "\f11f";
}
.solid-cake:before {
    content: "\f120";
}
.solid-calculator:before {
    content: "\f121";
}
.solid-calendar:before {
    content: "\f122";
}
.solid-camera:before {
    content: "\f123";
}
.solid-cash:before {
    content: "\f124";
}
.solid-chart-bar:before {
    content: "\f125";
}
.solid-chart-pie:before {
    content: "\f126";
}
.solid-chart-square-bar:before {
    content: "\f127";
}
.solid-chat-alt-2:before {
    content: "\f128";
}
.solid-chat-alt:before {
    content: "\f129";
}
.solid-chat:before {
    content: "\f12a";
}
.solid-check-circle:before {
    content: "\f12b";
}
.solid-check:before {
    content: "\f12c";
}
.solid-chevron-double-down:before {
    content: "\f12d";
}
.solid-chevron-double-left:before {
    content: "\f12e";
}
.solid-chevron-double-right:before {
    content: "\f12f";
}
.solid-chevron-double-up:before {
    content: "\f130";
}
.solid-chevron-down:before {
    content: "\f131";
}
.solid-chevron-left:before {
    content: "\f132";
}
.solid-chevron-right:before {
    content: "\f133";
}
.solid-chevron-up:before {
    content: "\f134";
}
.solid-chip:before {
    content: "\f135";
}
.solid-clipboard-check:before {
    content: "\f136";
}
.solid-clipboard-copy:before {
    content: "\f137";
}
.solid-clipboard-list:before {
    content: "\f138";
}
.solid-clipboard:before {
    content: "\f139";
}
.solid-clock:before {
    content: "\f13a";
}
.solid-cloud-download:before {
    content: "\f13b";
}
.solid-cloud-upload:before {
    content: "\f13c";
}
.solid-cloud:before {
    content: "\f13d";
}
.solid-code:before {
    content: "\f13e";
}
.solid-cog:before {
    content: "\f13f";
}
.solid-collection:before {
    content: "\f140";
}
.solid-color-swatch:before {
    content: "\f141";
}
.solid-credit-card:before {
    content: "\f142";
}
.solid-cube-transparent:before {
    content: "\f143";
}
.solid-cube:before {
    content: "\f144";
}
.solid-currency-bangladeshi:before {
    content: "\f145";
}
.solid-currency-dollar:before {
    content: "\f146";
}
.solid-currency-euro:before {
    content: "\f147";
}
.solid-currency-pound:before {
    content: "\f148";
}
.solid-currency-rupee:before {
    content: "\f149";
}
.solid-currency-yen:before {
    content: "\f14a";
}
.solid-cursor-click:before {
    content: "\f14b";
}
.solid-database:before {
    content: "\f14c";
}
.solid-desktop-computer:before {
    content: "\f14d";
}
.solid-device-mobile:before {
    content: "\f14e";
}
.solid-device-tablet:before {
    content: "\f14f";
}
.solid-document-add:before {
    content: "\f150";
}
.solid-document-download:before {
    content: "\f151";
}
.solid-document-duplicate:before {
    content: "\f152";
}
.solid-document-remove:before {
    content: "\f153";
}
.solid-document-report:before {
    content: "\f154";
}
.solid-document-search:before {
    content: "\f155";
}
.solid-document-text:before {
    content: "\f156";
}
.solid-document:before {
    content: "\f157";
}
.solid-dots-circle-horizontal:before {
    content: "\f158";
}
.solid-dots-horizontal:before {
    content: "\f159";
}
.solid-dots-vertical:before {
    content: "\f15a";
}
.solid-download:before {
    content: "\f15b";
}
.solid-duplicate:before {
    content: "\f15c";
}
.solid-emoji-happy:before {
    content: "\f15d";
}
.solid-emoji-sad:before {
    content: "\f15e";
}
.solid-exclamation-circle:before {
    content: "\f15f";
}
.solid-exclamation:before {
    content: "\f160";
}
.solid-external-link:before {
    content: "\f161";
}
.solid-eye-off:before {
    content: "\f162";
}
.solid-eye:before {
    content: "\f163";
}
.solid-fast-forward:before {
    content: "\f164";
}
.solid-film:before {
    content: "\f165";
}
.solid-filter:before {
    content: "\f166";
}
.solid-finger-print:before {
    content: "\f167";
}
.solid-fire:before {
    content: "\f168";
}
.solid-flag:before {
    content: "\f169";
}
.solid-folder-add:before {
    content: "\f16a";
}
.solid-folder-download:before {
    content: "\f16b";
}
.solid-folder-open:before {
    content: "\f16c";
}
.solid-folder-remove:before {
    content: "\f16d";
}
.solid-folder:before {
    content: "\f16e";
}
.solid-gift:before {
    content: "\f16f";
}
.solid-globe-alt:before {
    content: "\f170";
}
.solid-globe:before {
    content: "\f171";
}
.solid-hand:before {
    content: "\f172";
}
.solid-hashtag:before {
    content: "\f173";
}
.solid-heart:before {
    content: "\f174";
}
.solid-home:before {
    content: "\f175";
}
.solid-identification:before {
    content: "\f176";
}
.solid-inbox-in:before {
    content: "\f177";
}
.solid-inbox:before {
    content: "\f178";
}
.solid-information-circle:before {
    content: "\f179";
}
.solid-key:before {
    content: "\f17a";
}
.solid-library:before {
    content: "\f17b";
}
.solid-light-bulb:before {
    content: "\f17c";
}
.solid-lightning-bolt:before {
    content: "\f17d";
}
.solid-link:before {
    content: "\f17e";
}
.solid-location-marker:before {
    content: "\f17f";
}
.solid-lock-closed:before {
    content: "\f180";
}
.solid-lock-open:before {
    content: "\f181";
}
.solid-login:before {
    content: "\f182";
}
.solid-logout:before {
    content: "\f183";
}
.solid-mail-open:before {
    content: "\f184";
}
.solid-mail:before {
    content: "\f185";
}
.solid-map:before {
    content: "\f186";
}
.solid-menu-alt-1:before {
    content: "\f187";
}
.solid-menu-alt-2:before {
    content: "\f188";
}
.solid-menu-alt-3:before {
    content: "\f189";
}
.solid-menu-alt-4:before {
    content: "\f18a";
}
.solid-menu:before {
    content: "\f18b";
}
.solid-microphone:before {
    content: "\f18c";
}
.solid-minus-circle:before {
    content: "\f18d";
}
.solid-minus-sm:before {
    content: "\f18e";
}
.solid-minus:before {
    content: "\f18f";
}
.solid-moon:before {
    content: "\f190";
}
.solid-music-note:before {
    content: "\f191";
}
.solid-newspaper:before {
    content: "\f192";
}
.solid-office-building:before {
    content: "\f193";
}
.solid-paper-airplane:before {
    content: "\f194";
}
.solid-paper-clip:before {
    content: "\f195";
}
.solid-pause:before {
    content: "\f196";
}
.solid-pencil-alt:before {
    content: "\f197";
}
.solid-pencil:before {
    content: "\f198";
}
.solid-phone-incoming:before {
    content: "\f199";
}
.solid-phone-missed-call:before {
    content: "\f19a";
}
.solid-phone-outgoing:before {
    content: "\f19b";
}
.solid-phone:before {
    content: "\f19c";
}
.solid-photograph:before {
    content: "\f19d";
}
.solid-play:before {
    content: "\f19e";
}
.solid-plus-circle:before {
    content: "\f19f";
}
.solid-plus-sm:before {
    content: "\f1a0";
}
.solid-plus:before {
    content: "\f1a1";
}
.solid-presentation-chart-bar:before {
    content: "\f1a2";
}
.solid-presentation-chart-line:before {
    content: "\f1a3";
}
.solid-printer:before {
    content: "\f1a4";
}
.solid-puzzle:before {
    content: "\f1a5";
}
.solid-qrcode:before {
    content: "\f1a6";
}
.solid-question-mark-circle:before {
    content: "\f1a7";
}
.solid-receipt-refund:before {
    content: "\f1a8";
}
.solid-receipt-tax:before {
    content: "\f1a9";
}
.solid-refresh:before {
    content: "\f1aa";
}
.solid-reply:before {
    content: "\f1ab";
}
.solid-rewind:before {
    content: "\f1ac";
}
.solid-rss:before {
    content: "\f1ad";
}
.solid-save-as:before {
    content: "\f1ae";
}
.solid-save:before {
    content: "\f1af";
}
.solid-scale:before {
    content: "\f1b0";
}
.solid-scissors:before {
    content: "\f1b1";
}
.solid-search-circle:before {
    content: "\f1b2";
}
.solid-search:before {
    content: "\f1b3";
}
.solid-selector:before {
    content: "\f1b4";
}
.solid-server:before {
    content: "\f1b5";
}
.solid-share:before {
    content: "\f1b6";
}
.solid-shield-check:before {
    content: "\f1b7";
}
.solid-shield-exclamation:before {
    content: "\f1b8";
}
.solid-shopping-bag:before {
    content: "\f1b9";
}
.solid-shopping-cart:before {
    content: "\f1ba";
}
.solid-sort-ascending:before {
    content: "\f1bb";
}
.solid-sort-descending:before {
    content: "\f1bc";
}
.solid-sparkles:before {
    content: "\f1bd";
}
.solid-speakerphone:before {
    content: "\f1be";
}
.solid-star:before {
    content: "\f1bf";
}
.solid-status-offline:before {
    content: "\f1c0";
}
.solid-status-online:before {
    content: "\f1c1";
}
.solid-stop:before {
    content: "\f1c2";
}
.solid-sun:before {
    content: "\f1c3";
}
.solid-support:before {
    content: "\f1c4";
}
.solid-switch-horizontal:before {
    content: "\f1c5";
}
.solid-switch-vertical:before {
    content: "\f1c6";
}
.solid-table:before {
    content: "\f1c7";
}
.solid-tag:before {
    content: "\f1c8";
}
.solid-template:before {
    content: "\f1c9";
}
.solid-terminal:before {
    content: "\f1ca";
}
.solid-thumb-down:before {
    content: "\f1cb";
}
.solid-thumb-up:before {
    content: "\f1cc";
}
.solid-ticket:before {
    content: "\f1cd";
}
.solid-translate:before {
    content: "\f1ce";
}
.solid-trash:before {
    content: "\f1cf";
}
.solid-trending-down:before {
    content: "\f1d0";
}
.solid-trending-up:before {
    content: "\f1d1";
}
.solid-truck:before {
    content: "\f1d2";
}
.solid-upload:before {
    content: "\f1d3";
}
.solid-user-add:before {
    content: "\f1d4";
}
.solid-user-circle:before {
    content: "\f1d5";
}
.solid-user-group:before {
    content: "\f1d6";
}
.solid-user-remove:before {
    content: "\f1d7";
}
.solid-user:before {
    content: "\f1d8";
}
.solid-users:before {
    content: "\f1d9";
}
.solid-variable:before {
    content: "\f1da";
}
.solid-video-camera:before {
    content: "\f1db";
}
.solid-view-boards:before {
    content: "\f1dc";
}
.solid-view-grid-add:before {
    content: "\f1dd";
}
.solid-view-grid:before {
    content: "\f1de";
}
.solid-view-list:before {
    content: "\f1df";
}
.solid-volume-off:before {
    content: "\f1e0";
}
.solid-volume-up:before {
    content: "\f1e1";
}
.solid-wifi:before {
    content: "\f1e2";
}
.solid-x-circle:before {
    content: "\f1e3";
}
.solid-x:before {
    content: "\f1e4";
}
.solid-zoom-in:before {
    content: "\f1e5";
}
.solid-zoom-out:before {
    content: "\f1e6";
}
